[user]
  email = $GIT_EMAIL
  name = $GIT_NAME
[core]
  whitespace = tab-in-indent
  editor = vim
  # https://stackoverflow.com/questions/28026767/where-should-i-place-my-global-gitattributes-file/28027656#28027656
  attributesfile = ~/.gitattributes
  autocrlf = input
[log]
  abbrevCommit = true
  date = relative
  decorate = short
[push]
  default = simple
[rebase]
  # automatically create a temporary stash before operations
  autoStash = true
[color]
  ui = auto
[init]
  defaultBranch = main
