# Documents
*.odt diff=odt
*.doc diff=doc
*.docx diff=docx

# Spreadsheets
*.ods diff=ods
*.xls diff=xls
*.xlsx diff=xlsx

# Presentations
*.odp diff=odp
*.ppt diff=ppt
*.pptx diff=ppt

# Images
*.png diff=img
*.jpg diff=img
*.jpeg diff=img
*.svg binary

# Misc
*.pdf diff=pdf
